*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary: #18db86;
    --secondary:white;
    --secondaryLight: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;

}

body{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary);
    background-color: var(--dark1);
}

span{
    color: var(--primary);
}

.navbar {
    display: flex;
    justify-content: end;
}
.navbar ul {
    display: flex;
}
.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px;
    color: white;

}

/* crear el efecto de linea a bajo de las etiquetas a cuando el pointer se posiciona sobre el*/
.navbar a:hover{
    border-bottom: var(--primary) solid;
}

.hero{
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.35;
}

/*CIRCLE PROFILE*/

.profile div{
    position: absolute;
}

.profile {
    display: flex;
    justify-content: center;

}

.square {
    width: 320px;
    height: 450px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;

}

.circleTrans {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    z-index: 19;
    opacity: .2;
    top: 90px;

}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;

}
.imgProfile {
    top: 134px;
    z-index: 20;
}

.imgProfile img{
    height: 202px;
    width: 202px;
    border-radius: 50%;


}
/*SECCION DE ABOUT ME*/

.squareText {
    font-size: 1.5rem;
    color: var(--secondary);
    top: 380px;
    z-index: 11;

}

.squareText2 {
    font-size: 0.9rem;
    color: var(--secondary);
    top: 418px;
    z-index: 11;
}

.squareText3 {
    font-size: 1.1rem;
    color: var(--secondary);
    top: 490px;
    z-index: 11;
    
}

.squareText3 a:hover{
    border-bottom: var(--primary) solid;
}

.squareText3 a{
    text-decoration: none;
    color: var(--secondary);
}

.contactIcon{
    top: 450px;
    z-index: 11;

}

.contactIcon img{
    width: 40px;
    margin: 0 10px;
    
}

/* hacer que los iconos crezcan cuando se posiciona el puntero sobre el: */
.contactIcon img:hover{
    transform: scale(1.2);
}

/*BRIEFCASE*/

.briefcase{
    


}

.briefcaseSection h2{
    padding: 40px;
    text-align: center ;

}
.briefcaseGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px, auto)); /*indica el valor mínimo de las imagenes para ayudar alresponsive sin usar medias querys*/
    gap: 25px;
    width: 90%;
    margin: 0 auto;
}

.briefcaseGrid img {
    width: 70%;
    border-radius: 10px;
    height: 75%;
    transition: transform 0.2s ease; /*detecta el transform del hover y lo ejecuta en 0.2 segundos con el efecto ease*/
}

.briefcaseGrid img:hover {
    transform: scale(1.05); /*aumentar el tamaño de la imagen cuando posicionamos el pointer*/
}


